h1 {color:red;}
header {
    height: 30px;
    position: sticky;
    top: 8px;
    background-color: antiquewhite;
}
/*#add_art_button {*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    background-color: lawngreen;*/
/*    display: block;*/
/*}*/

#add_art, #edit_art, #view_art {
    position: absolute;
    z-index: 5;
    top:30px;
    display: none;
    min-width: 900px;
    min-height: 520px;
    max-height: 80%;
    max-width: 90%;
    background-color: antiquewhite;
    border: 1px solid cadetblue;
    padding: 5px;
}
.form {
    position: relative;
}
.element {
    padding: 15px 5px 15px 5px;
}
.header .cell{
    height: 30px;
}
.record .cell {
    height: 100px;
}
.header_name {
    min-width: 200px;
    width:300px;
    border: antiquewhite solid 1px;
}
.header_description {
    min-width: 300px;
    width: 500px;
    border: antiquewhite solid 1px;
}
.header_created_at {
    min-width: 300px;
    border: antiquewhite solid 1px;
}
.header_favorite {
    min-width: 100px;
    border: antiquewhite solid 1px;
}
.header_action {
    min-width: 100px;
    border: antiquewhite solid 1px;
}

.element_name {
    min-width: 200px;
    width:300px;
    border: antiquewhite solid 1px;
    cursor: pointer;
    background-color: #fdeeda;
    background-color: #ecfddc;
}
.element_description {
    min-width: 300px;
    width: 500px;
    border: antiquewhite solid 1px;
}
.element_created_at {
    min-width: 300px;
    border: antiquewhite solid 1px;
}
.element_favorite {
    min-width: 100px;
    border: antiquewhite solid 1px;
}
.element_action {
    min-width: 100px;
    border: antiquewhite solid 1px;
}


.cell {
    display:table-cell;
}

.action {
    width: 25px;
    height: 25px;
    display: block;
    float: left;
    cursor: pointer;
}
.edit {
    background-color: orange;
}
.delete {
    background-color: red;
}
.new {
    background-color: lawngreen;
}
.sort {
    width: 140px;
    height: 25px;
    float: left;
    margin: 0px 1px 5px 1px;
    padding-left: 5px;
    cursor: pointer;;
}
.sort_date {
    width: 100px;
    height: 25px;
    float: left;
    background-color: cornflowerblue;
    margin: 0px 1px 5px 1px;
    padding-left: 5px;
    cursor: pointer;
}
.favorite {
    background-color: mediumslateblue;
}
.element input, .element textarea {
    width:90%;
}
.element textarea {
    min-height: 300px;
}